html, body {
  height: 100%;
}

#root, .container-fluid {
  height: 100%;
}

.sidebar {
  height: 100%;
  border-right: 1px solid;
}

.new-message {
  bottom: 0;
  border-top: 1px solid;
  height: 40px;
  width: 100%;
  position: fixed;
}